<% include header %>

<div class="ui segment">
	<div class="ui floating labeled icon dropdown button">
		<i class="filter icon"></i>
		<span class="text">Filter</span>
		<div class="menu">
		  <div class="header">
			<i class="tags icon"></i>
			Filter by <%= filter %>
		  </div>
		  <a class="item" href="/home/popularity"><div class="item">
			Popularity
		  </div></a>
		  <a class="item" href="/home"><div class="item">
			New user
		  </div></a>
		  <a class="item" href="/home/age"><div class="item">
			Age
		  </div></a>
		</div>
	  </div>
</div>

<% if (profil == undefined) { %>
	<div class="ui negative message">
		<i class="close icon"></i>
		<div class="header">
			IL N'Y A PAS D'UTILISATEURS QUI POURRAIENT VOUS INTERRESSER
		</div>
	</div>
<% } else { %>
		<div class="ui segment">
			<h2 class="ui left floated header" style="margin-bottom: 2px;">You could be interested by...</h2>
			<br>
			<hr>
			<br>
			<div class="ui grid">
				<% profil.forEach(function(element) { %>
					<% var fname = element["fname"] %>
					<% var lname = element["lname"] %>
					<% var gender = element["gender"] %>
					<% var age = element["age"] %>
					<% var sumup = element["sumup"] %>
					<% var login = element["login"] %>
					<% var pic = element["profpic"] %>
					<% var online = element['online'] %>
					<div class="ui people shape">
						<div class="sides">
							<div class="side active">
								<div class="ui link card" style="height: 415.16px; margin-bottom:5px">
									<div class="ui medium image" style="height: 290px; width: 290px;">
										<% if (pic) { %>
											<a href="/user_profil/<%=login%>" class="ui image" style="height: 290px; width: 290px;">
												<img class="ui image" src="/images/<%= pic %>" style="height: -webkit-fill-available; width: -webkit-fill-available;">
											</a>
										<% } else { %>
											<img src="/images/matthew.png" class="ui image">
										<% } %>
									</div>
									<div class="content">
										<div class="header"><%= fname %> <%= lname %></div>
										<div class="meta">
											<%= gender %>, <%= age %> years old
										</div>
										<div class="description">
											<% if (sumup) {%>
											<%= sumup.substr(0, 20) %>...
											<% } else { %>
											<%= sumup %>
											<% } %>
										</div>
									</div>
									<div class="extra content">
										<span class="left floated">
												<% if (online == 1) {%>
													<div class="ui teal empty circular label"></div> Online
												<% } else { %>
													<div class="ui red empty circular label"></div> Offline
												<% } %>
										</span>
										<span class="right floated">
										Joined in 2017
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	<% } %>
<% include footer %>