<% include header %>







<div class="ui comments">
<h3 class="ui right floated header">Your discussion with <%=sendto%></h3>
<br><hr>
<% message.forEach(function(element) { %>
	<% var content = element["content"] %>
	<% var name = element["login"] %>
	<% var date = element["at"] %>
	<% if (name == sendto) { %>
		<div class="ui comment">
			<div class="content">
				<a class="author"><%=sendto%></a>
				<div class="metadata">
					<span class="date">lol</span>
				</div>
				<div class="text">
					<%= content %>
				</div>
			</div>
		</div>
	<% } else { %>
		<div class="comment">
			<div class="content">
				<a class="author"><%=me%></a>
				<div class="metadata">
					<span class="date">lol</span>
				</div>
				<div class="text">
					<%= content %>
				</div>
			</div>
		</div>
		<% } %>
	<% }) %>
	<form class="ui reply form">
		<div class="field">
			<textarea rows="6" style="resize:none"></textarea>
		</div>
		<div class="ui blue labeled submit icon button">
			<i class="icon edit"></i> Add Reply
		</div>
	</form>
</div>








<% include footer %>