<% include header %>

<div class="ui segment">
	<h2 class="ui right floated header" style="margin-bottom: 4px;">Your profil</h2>
	<br>
	<hr>
	<br>
	<div class="ui grid">
		<div class="ui top attached tabular fluid menu">
			<a class="active item" data-tab="bio">Bio</a>
			<a class="item" data-tab="settings">Settings</a>
			<a class="item" data-tab="pics">Pictures</a>
		</div>
		<div class="ui bottom attached active tab segment" data-tab="bio">
			<div class="ui segment">
				<div class="ui items">
					<div class="item">
						<% if (locals.profpic) { %>
							
							<div class="ui medium image">
								<img class="ui image" src="images/<%= profpic %>">
							</div>
							
							<%  } else { %>
								<div class="ui medium image">
									<img class="ui image" src="images/matthew.png">
								</div>
								<% } %>

							<div class ="content">
								<div class="ui large header" style="color:grey;"><%= locals.fname + ' ' + locals.lname %></div>
								<div class="meta">
									<div class="ui teal empty circular label"></div> Online
									<% if (locals.gender == "male") { %>
										<p>
											Man, <%= locals.age %>years old
										</p>
									<% } else if (locals.gender == "female") { %>
										<p>
											Woman, <%= locals.age %>years old
										</p>
									<% } %>
									<!-- <% if (locals.interest == "male") { %>
										<p> Interested by: &nbsp; Men <p>
									<% } else if (locals.interest == "female") { %>
										<p> Interested by: &nbsp; Women <p>
									<% } else if (locals.interest == "both") { %>
										<p> Interested by: &nbsp; Both <p>
									<% } %> -->
								</div>
								<hr class="ui">
								<div class="description">
									<div class="ui segment">
										<p><%= sumup %></p>
									</div>
									<div class="ui segment">
										<p><% if (tag) { %>
											<% tag.forEach(function(element) { %>
											<% var tag = element['tag'] %>
											<a class="ui label">
													<%= element["tag"] %>
													<a class="tagdel" href="/profil/deltag/<%= tag %>">
													<i class="delete icon"></i>
													</a>
												</a>
											<% }) %>
										<% } %>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="settings">
				<div class="doubling column row">
					<div class="column">
						<div class="ui segment">
							<form class="ui form segment" method="post" action="/profil/edit_info" id="names">
								<div class="two fields">
									<div class="field">
										<label>Edit Name</label>
										<input placeholder="First Name" name="fname" type="text" id="fname">
									<hr class="ui">
										<div class="ui center" style="display: flex; justify-content: center;">
											<INPUT class="ui green submit button" TYPE="submit" NAME="name" VALUE=" Edit ">
										</div>
									</div>
									<div class="field">
										<label>Edit last name</label>
										<input placeholder="Last Name" name="lname" type="text" id="lname">
									<hr class="ui">
										<div class="ui center"  style="display: flex; justify-content: center;">
											<INPUT class="ui green submit button" TYPE="submit" NAME="name" VALUE=" Edit ">
										</div>
									</div>
								</div>
								<hr class="ui">
								<div class="two fields">
									<div class="field">
										<label>Edit interest</label>
										<div class="ui dropdown selection fluid" tabindex="0">
											<select name="interest" id="interest">
												<option value="">Interest</option>
												<option value="male">Male</option>
												<option value="female">Female</option>
												<option value="both">Both</option>
											</select>
												<i class="dropdown icon"></i>
												<div class="default text">Interest</div>
												<div class="menu" tabindex="-1">
													<div class="item" data-value="male">Male</div>
													<div class="item" data-value="female">Female</div>
													<div class="item" data-value="both">Both</div>
												</div>
										</div>
										<hr class="ui">
										<div class="ui center" style="display: flex; justify-content: center;">
											<INPUT class="ui green submit button" TYPE="submit" NAME="name" VALUE=" Edit ">
										</div>
									</div>
									<div class="field">
										<label>Edit gender</label>
										<div class="ui dropdown selection fluid" tabindex="0">
										<select name="gender" id="gender">
											<option value="">Gender</option>
											<option value="male">Male</option>
											<option value="female">Female</option>
											<option value="other">Other</option>
										</select>
										<i class="dropdown icon"></i>
										<div class="default text">Gender</div>
										<div class="menu fluid" tabindex="-1">
											<div class="item" data-value="male">Male</div>
											<div class="item" data-value="female">Female</div>
											<div class="item" data-value="other">Other</div>
										</div>
									</div>
									<hr class="ui">
										<div class="ui center" style="display: flex; justify-content: center;">
											<INPUT class="ui green submit button" TYPE="submit" NAME="name" VALUE=" Edit ">
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="column">
							<div class="ui segment">
								<form class="ui form segment" method="post" action="/profil/tag_sumup" id="tagup">
									<div class="two fields">
										<div class="field">
											<label>Hobbies or interests</label>
											<input type="text" name="tag" placeholder="exemple: musculation" id="tag">
											<hr class="ui">
											<div class="ui center" style="display: flex; justify-content: center;">
												<INPUT class="ui green center aligned  button" TYPE="submit" NAME="name" VALUE=" Edit ">
											</div>
										</div>
										<div class="field">
											<label>Update your sumup</label>
											<input type="text" name="sumup" placeholder="Describe yourself" id="sumup">
											<hr class="ui">
											<div class="ui center" style="display: flex; justify-content: center;">
												<INPUT class="ui green submit button" TYPE="submit" NAME="name" VALUE=" Edit ">
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="column">
								<div class="ui segment">
									<form class="ui form segment" method="post" action="/profil/edit_pail" id="pswdMailLog">
										<div class="two fields">
											<div class="field">
												<label>Edit your password</label>
												<input placeholder="Current password" name="cpasswd" type="password" id="cpasswd">
												<input placeholder="New password" name="npasswd" type="password" id="npasswd">
												<input placeholder="Confirm new password" name="vnpasswd" type="password" id="vnpasswd">
												<hr class="ui">
												<div class="ui center" style="display: flex; justify-content: center;">
													<INPUT class="ui green submit button" TYPE="submit" NAME="name" VALUE=" Edit ">
												</div>
											</div>
											<div class="field">
												<label>Edit your email</label>
												<input placeholder="New email" name="nmail" type="email" id="nmail">
												<hr class="ui">
												<div class="ui center"  style="display: flex; justify-content: center;">
													<INPUT class="ui green submit button" TYPE="submit" NAME="name" VALUE=" Edit ">
												</div>
											</div>
											<div class="field">
												<label>Edit your login</label>
												<input placeholder="New login" name="nlogin" type="text" id="nlogin">
												<hr class="ui">
												<div class="ui center"  style="display: flex; justify-content: center;">
													<INPUT class="ui green submit button" TYPE="submit" NAME="name" VALUE=" Edit ">
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="pics">
				<div class="ui stackable five column grid">
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (locals.profpic) { %>
									<img class="ui image" src="images/<%= profpic %>">
								<% } else { %>
									<img src="/images/ade.jpg">
								<% } %>
							</div>
							<div class="content">
								<div class="header">
									<form class="ui form segment fluid" method="post" action="/profil/upload_pic/1" enctype="multipart/form-data">
										<input class="form-control fluid" type="file" name="uploaded_image" accept="image/*"/>
										<hr>
										<div class="ui center">
											<INPUT class="ui fluid green submit button" TYPE="submit" NAME="nom" VALUE=" Envoyer ">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (pic2) { %>
									<img src="images/<%= pic2 %>">
								<% } else { %>
									<img src="/images/stevejob.jpg">
								<% } %>
							</div>
							<div class="content">
								<div class="header">
									<form class="ui form segment fluid" method="post" action="/profil/upload_pic/2" enctype="multipart/form-data">
										<input class="form-control fluid" type="file" name="uploaded_image" accept="image/*"/>
										<hr>
										<div class="ui center">
											<INPUT class="fluid ui green submit button" TYPE="submit" NAME="nom" VALUE=" Envoyer ">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (locals.pic3) { %>
									<img src="images/<%= pic3 %>">
								<% } else { %>
									<img src="/images/matthew.png">
								<% } %>
							</div>
							<div class="content">
								<div class="header">
									<form class="ui form segment fluid" method="post" action="/profil/upload_pic/3" enctype="multipart/form-data">
										<input class="form-control fluid" type="file" name="uploaded_image" accept="image/*"/>
										<hr>
										<div class="ui center">
											<INPUT class="fluid ui green submit button" TYPE="submit" NAME="nom" VALUE=" Envoyer ">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (locals.pic4) { %>
									<img src="images/<%= pic4 %>">
								<% } else { %>
									<img src="/images/veronika.jpg">
								<% } %>
							</div>
							<div class="content">
								<div class="header">
									<form class="ui form segment fluid" method="post" action="/profil/upload_pic/4" enctype="multipart/form-data">
										<input class="form-control fluid" type="file" name="uploaded_image" accept="image/*"/>
										<hr>
										<div class="ui center">
											<INPUT class="fluid ui green submit button" TYPE="submit" NAME="nom" VALUE=" Envoyer ">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (locals.pic5) { %>
									<img src="images/<%= pic5 %>">
								<% } else { %>
									<img src="/images/matthew.png">
								<% } %>
							</div>
							<div class="content">
								<div class="header">
									<form class="ui form segment fluid" method="post" action="/profil/upload_pic/5" enctype="multipart/form-data">
										<input class="form-control fluid" type="file" name="uploaded_image" accept="image/*"/>
										<hr>
										<div class="ui center">
											<INPUT class="fluid ui green submit button" TYPE="submit" NAME="nom" VALUE=" Envoyer ">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





		<% include footer %>
		<script>
 $('.menu .item').tab();
$('.ui.dropdown').dropdown({
  allowAdditions: true,
})
$('.tag.example .ui.dropdown')
  .dropdown({
    allowAdditions: true
  })
;
		
	
</script>