<% include header %>

<div class="ui segment">
	<h2 class="ui right floated header" style="margin-bottom: 2px;"><%= login %>'s profil</h2>
	<br>
	<hr>
	<br>
	<div class="ui grid">
		<div class="ui top attached tabular fluid menu">
			<a class="active item" data-tab="bio">Bio</a>
			<a class="item" data-tab="pics">Pictures</a>
		</div>
		<div class="ui bottom attached active tab segment" data-tab="bio">
			<div class="ui segment">
				<div class="ui items">
					<div class="item">
						<% if (profpic) { %>
							
							<div class="ui medium image">
								<img class="ui image" src="/images/<%= profpic %>">
							</div>
							
							<%  } else { %>
								<div class="ui medium image">
									<img class="ui image" src="images/matthew.png">
								</div>
								<% } %>

							<div class ="content">
								<div class="ui large header" style="color:grey;"><%= locals.fname + ' ' + locals.lname %></div>
								<div class="meta">
									<% if (online == 1) {%>
										<div class="ui teal empty circular label"></div> Online
									<% } else { %>
										<div class="ui red empty circular label"></div> Offline
									<% } %>
									<% if (locals.gender == "male") { %>
										<p>
											Man, <%= locals.age %>years old
										</p>
									<% } else if (locals.gender == "female") { %>
										<p>
											Woman, <%= locals.age %>years old
										</p>
									<% } %>
								</div>
								<hr class="ui">
								<div class="description">
									<div class="ui segment">
										<p><%= sumup %></p>
									</div>
									<div class="ui segment">
										<p><% if (tagReq) { %>
											<% tagReq.forEach(function(element) { %>
												<% console.log(element) %>
											<% var tags = element['tag'] %>
											<a class="ui label">
													<%= tags %>
												</a>
											<% }) %>
										<% } %>
										</p>
									</div>
									<div class="ui segment">
										<% if (blocked == "no") { %>
											<a href="/user_profil/block/<%=login%>" class="item" style="text-decoration: none">
												<i class="remove circle icon"></i>Block
											</a>
											<br />
										<% } else if (blocked == "yes") { %>
											<a href="/user_profil/unblock/<%= login %>" class="item" style="text-decoration: none">
												<i class="unlock alternate icon"></i>Unblock
											</a>
											<br />
										<% } if (liked == "yes") {%>
											<a href="/user_profil/unlike/<%= login %>" class="item" style="text-decoration: none">
												<i class="heart empty icon"></i>Unlike
											</a>
											<br />
										<% } else if (liked == "no") { %>
											<a href="/user_profil/like/<%= login %>" class="item" style="text-decoration: none">
												<i class="heart icon"></i>Like
											</a>
											<br />
										<% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui bottom attached tab segment" data-tab="pics">
				<div class="ui five column grid">
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (locals.profpic) { %>
									<img class="ui image" src="/images/<%= profpic %>">
								<% } else { %>
									<img src="/images/ade.jpg">
								<% } %>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (pic2) { %>
									<img src="images/<%= pic2 %>">
								<% } else { %>
									<img src="/images/stevejob.jpg">
								<% } %>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (locals.pic3) { %>
									<img src="images/<%= pic3 %>">
								<% } else { %>
									<img src="/images/matthew.png">
								<% } %>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (locals.pic4) { %>
									<img src="images/<%= pic4 %>">
								<% } else { %>
									<img src="/images/veronika.jpg">
								<% } %>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui fluid card">
							<div class="ui image">
								<% if (locals.pic5) { %>
									<img src="images/<%= pic5 %>">
								<% } else { %>
									<img src="/images/matthew.png">
								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
		<% include footer %>
		<script>


 $('.menu .item').tab();
$('.ui.dropdown').dropdown({
  allowAdditions: true,
})
$('.tag.example .ui.dropdown')
  .dropdown({
    allowAdditions: true
  })
;
		</script>